/* --- VARIABLES --- */
:root {
    --width-page-container: 1352px;

    /* --- COLORS --- */
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: red; /* THIS NEEDS TO BE UPDATED */
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFFFFF;

    /* --- FONTS --- */

    /* --- SHAPES, DIMENSIONS, SPACING --- */

}

* {
    box-sizing: border-box;
}

/* GOOGLE FONT CLASSES*/

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



.container {
    width: var(--width-page-container);
    margin: 0 auto;
    background-color: var(--color-green);
}

header {
    width: 100vw;
    height: 20vh;
    background-color: var(--color-primary);
}