/* --- VARIABLES --- */
:root {
    --width-page-container: 1352px;

    /* --- COLORS --- */
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #A5A5A5;
    --color-light-gray: #F7F7F7;
    --color-white: #FFFFFF;

    --color-gray-border: #E8E9ED;
    --color-gray-form: #95989A;

    --color-gray-consent: #707070;

    /* --- FONTS --- */
    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    /* --- SHAPES, DIMENSIONS, SPACING --- */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
}

/* GOOGLE FONT CLASSES*/

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.open-sans-bolder {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-bolder {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-extra-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.container {
    width: var(--width-page-container);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-white);
    border: none;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    padding: 1.5rem 9rem;
}

.btn-primary {
    background-color: var(--color-primary);
}

/* Section HEADER */

header {
    width: 100vw;
    box-shadow: 0 3px 6px #00000029;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--font-raleway);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0;
    color: var(--color-primary);
    /* padding: 1rem 0; */
}

nav li {
    /* list-style: none; */
    display: inline;
}

nav a,
nav a:link, 
nav a:visited,
nav a:hover,
nav a:active {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-gray);
    font-family: var(--font-open-sans);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 11px;
    letter-spacing: 3.2px;

    /* height: 2rem; */
    padding: 1.7rem 0.5rem;
    border-bottom: 4px solid var(--color-white);
}

nav a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

/* OPENING SECTION */

.opening {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.opening h1 {
    font-family: var(--font-raleway);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 49px;
    color: var(--color-black);
    letter-spacing: 0;
    margin-top: 8.1rem;
}

.opening p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 16px;
    margin-top: 1.8rem;
}

.opening .btn {
    margin-top: 3rem;
}

/* -- STATISTICS SECTION -- */

.statistics {
    text-align: center;
}

.statistics .container {
    /* box-shadow: 0px -5px 80px #00000029; NEEDS TO BE ADDED*/ 
}

.statistics h2 {
    font-size: 2.2rem;
    margin-top: 6rem;
}

.stats-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6rem 2rem;
    height: 10rem;
}

.stats-box-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-box-card img {
    position: relative;
    padding-left: 2rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 3rem;
    position: relative;
}

.icon-container::before {
    display: block;
    content: "";
    width: 4rem;
    height: 4rem;
    top: 50%;
    left:50%;
    position:absolute;
    border-radius: 50%;
    background-color: var(--color-red);
    transform: translate(-50%, -50%);
}

/* .icon-container:nth-of-type(2)::before {
    background-color: var(--color-primary);
} */

.stats-box-card:nth-child(2) .icon-container::before {
    background-color: var(--color-primary);
}

.stats-box-card:nth-child(3) .icon-container::before {
    background-color: var(--color-green);
}

.counts {
    font-size: 1.4rem;
    letter-spacing: 5.96px;
}

.gray-description {
    font-size: 1.1rem;
    color: var(--color-gray);
}

/* -- BENEFITS -- */

.benefits {
    background-color: var(--color-light-gray);
}

.benefits .container {
    padding: 7rem 0;
}

.benefits h2 {
    font-size: 36px;
    color: var(--color-black);
}

.benefits p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
    padding-bottom: 3rem;
    position: relative;
    /* border-bottom: 4px solid black; */
}

.benefits-box  {
    background-color: var(--color-white);
    height: 23rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 2rem;
    margin: 0 8rem 3rem 8rem;
    /* margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem; */
    border: 1px solid var(--color-gray-border);
    border-radius: 0.4rem;
    /* position: relative; */
}

.benefits-box-divide  {
    height: 23rem;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    margin: 0 8rem;
    /* padding: 3rem;
    margin-bottom: 3rem; */
}

.benefits-box-descr-divide {
    background-color: var(--color-white);
    border: 1px dotted red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--color-gray-border);
    border-radius: 0.4rem;
    width: 55%;
    padding: 2rem;
}

.benefits-box-descr-divide p {
    border-color: var(--color-green);
}

.benefits-box-pic-divide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px dotted yellowgreen;
    background-color: var(--color-green);
    border: 1px solid var(--color-gray-border);
    border-radius: 0.4rem;
    /* margin-left: 4rem; */
    width: calc(100vh / 3);
}

.benefits-box-pic-divide img{
    transform: scale(70%, 70%);
}

.benefits-box:nth-of-type(2) {
    flex-direction: row-reverse;
}

.benefits-box-descr {
    /* border: 1px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    /* height: 100%; */
}

.benefits-box:nth-of-type(1)  .benefits-box-descr p::after {
    content: "";
    width: 70%;
    height: 4px;
    position: absolute;
    bottom:0;
    left:0;
    background-color: var(--color-red);
}

.benefits-box:nth-of-type(2)  .benefits-box-descr p::after {
    content: "";
    width: 70%;
    height: 4px;
    position: absolute;
    bottom:0;
    left:0;
    background-color: var(--color-primary);
}

.benefits-box-divide p::after {
    content: "";
    width: 70%;
    height: 4px;
    position: absolute;
    bottom:0;
    left:0;
    background-color: var(--color-green);
}

.benefits-box-pic {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    /* border: 1px dotted yellowgreen; */
    position: relative;
}

.benefits-box-pic img {
    width: 90%;
    position: relative;
}

.benefits-box:nth-child(1) .benefits-box-pic::before {
    content: "";
    position: absolute;
    width: 11em;
    height: 11em;
    top: 20%;
    right:10%;
    /* transform: translate(-50%, -50%) rotate(45deg); */
    transform: rotate(45deg);
    background-color: var(--color-red);
    border-radius: 20%;

}

.benefits-box:nth-child(2) .benefits-box-pic::before {
    content: "";
    position: absolute;
    width: 18em;
    height: 18em;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    background-color: var(--color-primary);
    border-radius: 50%;
}

/* -- PRICING -- */

.pricing .container {
    padding: 5rem 0;
}

.pricing h2 {
    font-size: 36px;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 5rem;
}

.pricing h3 {
    font-size: 1.35rem;
    padding-top: 2rem;
}

.pricing a.btn {
    position: absolute;
    padding: 1.3rem 4.5rem;
    font-size: 0.8rem;
    left:50%;
    bottom:0;
    transform: translate(-50%, 50%);
}

.pricing ol {
    font-size: 0.9rem;
    font-weight: 400;
}

.dollar_price {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 2.9rem;
  color: var(--color-primary);
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 28%;
    border: 1px solid black;
    border-radius: 18px;
    position: relative;

    padding-bottom: 5rem;
    min-height: 28rem;
}

.pricing-card:nth-of-type(1) .dollar_price {
    color: var(--color-red);
}

.pricing-card:nth-of-type(1) a.btn {
    background-color: var(--color-red);
}

.pricing-card:nth-of-type(3) .dollar_price {
    color: var(--color-green);
}

.pricing-card:nth-of-type(3) a.btn {
    background-color: var(--color-green);
}

.pricing-card ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-card ol li {
    position: relative;
    line-height: 2.2rem;
}

.pricing-card ol li::before {
    content: "";
    width: 11px;
    height: 11px;
    top: 50%;
    left: -1rem;
    transform: translate(-50%, -50%);
    position: absolute;
    background-image: url(../assets/Checkmark-2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pricing-card:nth-of-type(1) {
    border-color: var(--color-red);
}

.pricing-card:nth-of-type(2) {
    border-color: var(--color-primary);
    /* transform: scale(110%, 110%); */
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
    min-height: 31rem;
    min-width: 30%;
}

.pricing-card:nth-of-type(3) {
    border-color: var(--color-green);
}


/* target 4th and 5th li element in the first .pricing-card */
.pricing-card:nth-of-type(1) ol li:nth-of-type(4)::before,
.pricing-card:nth-of-type(1) ol li:nth-of-type(5)::before {
    background-image: url(../assets/Close.svg);
}

/* target last li element in the second .pricing-card */
.pricing-card:nth-of-type(2) ol li:last-of-type::before {
    background-image: url(../assets/Close.svg);
}

/* --- CONTACT --- */

.contact-container {
    /* border: 1px solid gray; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    min-height: 20rem;
}

.contact-left {
    /* border: 1px dashed green; */
    font-size: 1rem;
    font-weight: 300;
    width: 35%;
}

.contact-left p {
    font-weight: 400;
    margin-bottom: 2rem;
}

.contact-left h2 {
    font-size: 49px;
    margin-bottom: 2rem;
}

.contact-left ol {
    display: flex;
    justify-items: flex-start;
}

.contact-left li {
    font-weight: 400;
    position: relative;
    color: var(--color-gray);
}

.contact-left li:nth-of-type(1) {
    margin-left: 2rem;
}

.contact-left li:nth-of-type(2) {
margin-left: 3rem;
}

.contact-left li::before {
    content: "";
    position: absolute;
    width:27px;
    height: 27px;
    top:50%;
    left:-15%;
    transform: translate(-50%,-50%);
    background-image: url(../assets/Mail\ Icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-left li:nth-of-type(2)::before {
    background-image: url(../assets/Phone\ Icon.svg);
}

.contact-right{
    /* border: 1px dashed blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 35%;
    align-self: stretch;
}

.contact-right label[for="username"],
.contact-right label[for="email"]  {
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 11px;
    letter-spacing: 3.28px;
}

.contact-right label[for="consent"] {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.05rem;
    color: var(--color-gray-consent);
}

.contact-right input[type="text"],
.contact-right input[type="email"]
{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-gray-form);
}

.contact-right button {
    align-self: flex-end;
    padding: 1.3rem 6rem;
    font-size: 0.8rem;
}

/* hiding the standard input checkbox element */

.consent input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.consent {
    cursor: pointer;
    display: flex;
}

.consent span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid var(--color-gray-form);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.consent input:checked + span {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    /* background-size: cover; */
    background-repeat: no-repeat;
}

/* --- FOOTER --- */

footer {
    background-color: var(--color-light-gray);
    box-shadow: 0 -5px 40px #00000029;
    font-size: 11px;
    color: var(--color-gray);
}

footer .logo {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 0.5rem;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.footer-right a {
    margin-left: 1rem;
}
